/*------
  RESET
--------*/
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

/*------
  GENERAL
--------*/
body{
    font-family: 'Cabin', sans-serif;
}
.container{   
    max-width: 1200px;
    margin: 0 auto; 
}
.row{
    display: flex;
    flex-wrap: wrap; 
}

a{
    text-decoration: none; 
    color: white;
 }
 button{
    border-radius: 20px;
    text-decoration: none;
 }

 h1{
    font-size: 60px;
 }
 p{
    padding: 25px;
    font-size: 20px
}
h2{
    padding: 20px;
    font-size: 40px;   
}
h3{
    font-size: 26px;
}

/*------
  HEADER
--------*/
header > section{
    background-color: #3161e0;
    padding-top: 20px;
}
.logo{
    width: 25%;
} 
header  nav{
    width: 50%;
}
header  nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
header  nav ul li{
    padding: 0 40px;
}
.btn-top{
    text-align: right;
    width: 25%;
}
.btn-top a{
    color: black;
}
.btn-top button{
    border-color: white;
    padding: 10px;
}
.hero-container{
    background-image: url(img/jumbo.png);
    background-size: cover;
    margin-top: 30px;
}
.hero{
    min-height: 500px;
    width: 700px;
    margin: auto;
}
.hero div{
    justify-content: center;
    color: white;
}
.hero p{
    text-align: center;
}
.title{
    padding: 20px;
}

.btn-mid {
    padding: 20px;
}
.btn-middle{
    padding: 14px 14px;
}
.white{
    background-color: white;
    border-color: white;
}
.white a{
    color: black;
}
.black {
    background-color: black;
}

/*------
  MAIN
--------*/
.san{
    min-height: 400px;
    margin: 60px 0;
}
.col-60{
    width: 60%;
}
.col-40{
    width: 40%;
}

.grey{
    background-color: #f6f6f6;
}

.col-100{
    width: 100%;
    min-height: 700px;
}
.col{
    text-align: center;
}
.star{
    text-align: center;
}
.blue{
    background-color: #8ea1e1;
    border-color: #8ea1e1;
}

/*------
  FOOTER
--------*/

footer{
    background-color: #23272a;
}

.red{
    background-color: #f08080;
    width: 30%;
}

.column{
    width: 70%;
    display: flex;
}

.lightblue{
    background-color: #20b2aa;
    width: 25%;
}

.lightgreen{
    background-color: #7fffd4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.lightred{
    background-color: #ffb6c1;
    padding: 4px 0;
}